$colors: ("foreground": yellow,
  "background": green);

$indents: ("margin": 40px,
  "padding": 20px);

$fonts: ("font-family": #{Georgia, 'Times New Roman', Times, serif},
  "font-size": 16px);

@function get-theme() {
  @return ("colors": $colors,
    "indents": $indents,
    "fonts": $fonts);
}
